body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}
body main {
    display: grid;
    padding: 0 15% 0 15%;
}

/* items container */
.grid-container {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;
}

/* removed text decoration */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* card style*/
.card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.card div {
    padding: 0 15px 0 15px;
}

/* category style*/
.category {
    display: flex;
    justify-content: center;
    margin: 30px;
}
ul li {
    font-size: 18px;
    padding: 10px;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .grid-container {
        row-gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    body {
        font-family: var(--font-family);
        font-size: var(--font-size-default);
    }
    body main {
        display: flex;
        padding: 0 5% 0 5%;
        flex-direction: column;
    }

    ul li {
        font-size: 14px;
        padding: 0 5px 0 5px;
    }
}
