footer {
    padding: 0 var(--space-per-15);
    background-color: var(--color-primaryDark);
    display: grid;
    column-gap: 0;
    row-gap: 0;

    grid-template-columns: auto auto auto;
    margin-top: var(--space-per-15);
    color: var(--color-white);
    font-size: var(--font-size-24);
}
footer a {
    color: var(--color-inActive);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    footer {
        font-size: var(--font-size-16);
        margin-top: var(--space-30);
        padding: 0 var(--space-per-5);
    }
}
