/* banner style*/
.banner {
    border-radius: var(--border-radius-20);
    border-width: 1px;
    border-color: var(--color-black);
    padding: var(--space-per-5);
    margin: 0 var(--space-per-15);
    background-color: var(--color-inActive);
    flex-direction: row;
    display: flex;
    color: var(--color-textPrimary);
}
.labelBanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imgBanner {
    margin-right: 100px;
    width: 200px;
    animation-name: bounce-2;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.catButton {
    padding: var(--space-10) var(--space-20);
    border-radius: var(--border-radius-20);
    background-color: var(--color-primary);
    color: var(--color-white);
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .banner {
        background-color: var(--color-inActive);
        padding: var(--space-10);
    }
    .imgBanner {
        margin-right: var(--space-10);
        width: 100px;
        height: var(--space-50);
    }
    .labelBanner {
        font-size: var(--font-size-10);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
